@font-face {
  font-family: 'MuseoSans300';
  src: url('fonts/museosans_300-webfont.eot');
  src: url('fonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/museosans_300-webfont.woff') format('woff'),
  url('fonts/museosans_300-webfont.ttf') format('truetype'),
  url('fonts/museosans_300-webfont.svg#museo_sans_300regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans500';
  src: url('fonts/museosans_500-webfont.eot');
  src: url('fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/museosans_500-webfont.woff') format('woff'),
  url('fonts/museosans_500-webfont.ttf') format('truetype'),
  url('fonts/museosans_500-webfont.svg#museo_sans_500regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans700';
  src: url('fonts/museosans_700-webfont.eot');
  src: url('fonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/museosans_700-webfont.woff') format('woff'),
  url('fonts/museosans_700-webfont.ttf') format('truetype'),
  url('fonts/museosans_700-webfont.svg#museo_sans_700regular') format('svg');
  font-weight: normal;
  font-style: normal;
}