.threshold-table {
  width: 100%;

  .operations {
    position: absolute;
    right: -30px;
    top: 5px;

    .operation {
      background: #CCCCCC;
      border-bottom: 2px solid #5C5C5C;
      border-radius: 4px;
      padding-top: 3px;
      height: 26px;
      width: 26px;
      text-align: center;
      color: #777777;
      cursor: pointer;
      margin-bottom: 4px;
    }
  }

  .alerts {
    position: relative;
  }

  th, td {
    padding: 6px 12px;
  }

  tbody {
    vertical-align: top;

    tr {
      cursor: pointer;
    }

    .time-selector {
      width: 100%;
    }

    tr:nth-child(odd) {
      background: #EFEFEF;

      input,
      select {
        background: #EFEFEF;
      }
    }

    tr.is-adding {
      background: $blue;
      border: 1px solid #CCCCCC;

      &.is-active td {
        display: table-cell;

        &:first-child {
          display: none;
        }
      }

      td {
        display: none;

        &:first-child {
          display: table-cell;
        }
      }

      i {
        color: #AAAAAA;
      }
    }

    tr.is-active {
      border-top: 2px solid #3BB7D8;
      border-bottom: 2px solid #3BB7D8;
      background: $blue;

      input,
      select {
        background: $blue;
      }

      input:focus,
      select:focus {
        background: white;
      }
    }
  }

  thead th {
    color: $gray;
    font-weight: normal;
    font-size: $font-size-small;
  }

  thead,
  tbody {
    th, td {
      border-right: #C3C2C2 1px dotted;

      &:last-child {
        border-right: 0;
      }
    }
  }
}