.time-chart-background {
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  min-width: 1170px;

  li {
    border-right: 1px solid #CCCCCC;
    height: 97px;
    width: 97px;
    float: right;
    text-align: right;
    padding-right: 10px;
  }
}

.time-chart {
  position: relative;

  .all-day-background {
    position: absolute;
    height: 18px;
    top: 45px;
    background: #CCC;
    left: 0;
    right: 0;
  }

  .spam {
    position: absolute;
    height: 30px;
    top: 39px;
    z-index: 1;

    &.all-day {
      top: 45px;
      height: 18px;
      width: 100%;
      z-index: 0;
    }
  }

  .purple {
    background: #5f2f69;
  }

  .light-blue {
    background: #009edf;
  }

  .green {
    background: #9cc416;
  }

  .blue {
    background: #0049a0;
  }

  .magenta {
    background: #9e156d;
  }

  .bright-green {
    background: #10b50c;
  }
}