<tr ng-click="activate();">
  <td colspan="4"
      ng-show="!active">
    <i>
      add a new threshold (+)
    </i>
  </td>
  <td colspan="{{!from ? 2 : 1}}"
      ng-show="active">
    <select ng-options="time for time in times"
            ng-model="newThreshold.from">
      <option value="">All Day</option>
    </select>
  </td>
  <td ng-show="active && newThreshold.from">
    <select ng-options="time for time in times"
            ng-model="newThreshold.until">
      <option value="">All Day</option>
    </select>
  </td>
  <td ng-show="active">
    when the <b>ErrorSystem</b>
    <select ng-options="comparison.operator as comparison.name for comparison in comparisons"
            ng-model="newThreshold.operator">
    </select>
  </td>
  <td class="alerts"
      ng-show="active">
    <div>
      <input type="text"
             ng-model="newThreshold.numberForWarning"/>
      trigger a warning
    </div>
    <div>
      <input type="text"
             ng-model="newThreshold.numberForError"/>
      trigger an error
    </div>
    <div>
      <input type="text"
             ng-model="newThreshold.numberForCritical"/>
      trigger a critical
    </div>
    <div class="operations">
      <div class="operation" ng-click="submit($event)">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
      <div class="operation" ng-click="cancel($event)">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
    </div>
  </td>
</tr>