<tr ng-click="activate();" ng-class="{'is-active': active, 'is-adding': isAdding}">
  <td colspan="4" ng-if="isAdding">
    <i>
      add a new threshold (+)
    </i>
  </td>

  <td colspan="{{!newThreshold.from ? 2 : 1}}" class="{{color}} color-marker">
    <select ng-options="time for time in times"
            class="time-selector from"
            ng-model="newThreshold.from">
      <option value="">All Day</option>
    </select>
  </td>
  <td ng-show="newThreshold.from">
    <select ng-options="time for time in times"
            class="time-selector"
            ng-model="newThreshold.until">
      <option value="">All Day</option>
    </select>
  </td>
  <td>
    <div>
      when the <span class="alert-text">ErrorSystem</span>
      <select ng-options="comparison.operator as comparison.name for comparison in comparisons"
              ng-model="newThreshold.operator">
      </select>
    </div>

  </td>
  <td class="alerts">
    <div class="alert-level"
         ng-hide="(isEditing && !active && !newThreshold.numberForWarning) || (isAdding && !active)">
      <input type="number"
             id="{{newThreshold.id}}-warning"
             ng-model="newThreshold.numberForWarning"/>
      <label for="{{newThreshold.id}}-warning" class="warning">
        trigger a warning
      </label>
    </div>
    <div class="alert-level"
         ng-hide="(isEditing && !active && !newThreshold.numberForError) || (isAdding && !active)">
      <input type="number"
             id="{{newThreshold.id}}-error"
             ng-model="newThreshold.numberForError"/>
      <label for="{{newThreshold.id}}-error" class="error">
        trigger an error
      </label>
    </div>
    <div class="alert-level"
         ng-hide="(isEditing && !active && !newThreshold.numberForCritical) || (isAdding && !active)">
      <input type="number"
             id="{{newThreshold.id}}-critical"
             ng-model="newThreshold.numberForCritical"/>
      <label for="{{newThreshold.id}}-critical" class="critical">
        trigger a critical
      </label>
    </div>
    <div class="operations" ng-show="active">
      <div class="operation" ng-click="submit($event)">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
      <div ng-if="isEditing" class="operation" ng-click="remove($event)">
        <span class="glyphicon glyphicon-trash"></span>
      </div>
      <div class="operation" ng-click="cancel($event)">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
    </div>
  </td>
</tr>