<div>
  <table class="threshold-table">
    <thead>
    <tr>
      <th>
        From
      </th>
      <th>
        Until
      </th>
      <th>
        Comparison
      </th>
      <th>
        Alerts
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="add-new-threshold lm-threshold-editor"
        data-on-complete="onAddComplete"></tr>
    <tr class="lm-threshold-editor"
        ng-repeat="threshold in thresholds.all()"
        data-threshold="threshold">
    </tr>
    </tbody>
  </table>
</div>