<div>
  <table class="threshold-table">
    <thead>
    <tr>
      <th>
        From
      </th>
      <th>
        Until
      </th>
      <th>
        Comparison
      </th>
      <th>
        Alerts
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="add-new-threshold lm-threshold-editor"></tr>
    <tr>
      <td>
        09:00
      </td>
      <td>
        13:00
      </td>
      <td>
        when the ErrorSystem is greater than(>)
      </td>
      <td>
        <div>
          3 trigger a warning
        </div>
        <div>
          3 trigger an error
        </div>
        <div>
          3 trigger a critical
        </div>
      </td>
    </tr>
    <tr>
      <td>
        09:00
      </td>
      <td>
        13:00
      </td>
      <td>
        when the ErrorSystem is greater than(>)
      </td>
      <td>
        <div>
          3 trigger a warning
        </div>
        <div>
          3 trigger an error
        </div>
        <div>
          3 trigger a critical
        </div>
      </td>
    </tr>
    <tr>
      <td>
        09:00
      </td>
      <td>
        13:00
      </td>
      <td>
        when the ErrorSystem is greater than(>)
      </td>
      <td class="alerts">
        <div>
          3 trigger a warning
        </div>
        <div>
          3 trigger an error
        </div>
        <div>
          3 trigger a critical
        </div>
        <div class="operations">
          <div class="operation">
            <span class="glyphicon glyphicon-trash"></span>
          </div>
          <div class="operation">
            <span class="glyphicon glyphicon-ok"></span>
          </div>
          <div class="operation">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
      </td>
    </tr>
    </tbody>

  </table>
</div>